* {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #eae2b7;
}

a {
    text-decoration: none;
}
.header {
    height: 200px;
    background-color: #d62828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.right-nav a {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

.right-nav a:hover {
    background-color: #f77f00;
}




.header-logo {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.intro {
    background-color: #003049;
    padding: 50px 50px;
    display: flex;
    align-items: center;
}
.intro-text {
    color: white;
    font-size: 20px;
    margin-right: 50px;
    text-align: right;
}
.intro-image img {
    height: auto;
    width: 500px;
    border-radius: 10px;
}
.heading {
    font-size: 30px;
    font-weight: bold;
    color: #fcbf49;
    margin-bottom: 20px;
}
.info {
    text-align: center;
    margin: 25px;
}
.info-container {
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.info-item {
    text-align: center;
    margin: 25px;
}
.info-item img {
    border-radius: 15px;
    box-shadow: -1px 2px 6px gray;
    height: auto;
    width: 200px;
    margin-bottom: 10px;
}
.info-item p {
    font-weight: bold;
    font-size: larger;
}
.action {
    background-color: #f77f00;
}
.footer {
    background-color: #003049;
    color: #eae2b7;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}